<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495545544239-hnfqng39ebtl6cskursm7qhoejq6uc99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495545544239-hnfqng39ebtl6cskursm7qhoejq6uc99</string>
	<key>API_KEY</key>
	<string>AIzaSyAn4rFx5pPY3Ui8C1fxNbM5BV_TcZiXIyk</string>
	<key>GCM_SENDER_ID</key>
	<string>495545544239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smokelab</string>
	<key>PROJECT_ID</key>
	<string>smokelab-913bd</string>
	<key>STORAGE_BUCKET</key>
	<string>smokelab-913bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495545544239:ios:df2f8974d90c34777120da</string>
</dict>
</plist>